body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 20px;
  background-color: rgb(140,157,173, 0.3);
  letter-spacing: 2px;
}

h1 {
  color: darkred;
}

input {
  background-color: rgb(173, 216, 230, 0.5);
  border-radius: 5px;
  padding: 7px;
  width: 70%;
  border-width: 1px;
  border-color:  rgb(180, 142, 146);
}

button {
  padding: 10px;
  margin: auto;
  border-style: none;
  border-radius: 5px;
  background-color:  rgb(180, 142, 146);
  color: white;
  width: 40%;
}

button:hover {
  background-color: darkblue;
  color: lightgray;
}